.nav_bar{
    float: right;
}
        
.head_title p {
    text-align: center;
    font-weight: bold;
    font-size: 100px;
    margin-bottom: 0px;
                
}
.space_word {
    word-spacing: 23px;
    text-align: center;
    margin-top: 0;
              
}
#submit_button {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.all_image h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}


.cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.quote {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.vid_section {
    display: flex;
    justify-content: center;
}    
.normal_text {
    font-weight: normal;
    font-size: 15px;
    text-align: left;
}

.h_format {
    text-align: left;
    font-size: 20px;
}

.personal_accounts {
    float: right;
    margin-right: 60px;
}

.img_footer {
    margin-left: 60px;
}

